* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #020202;
    color: #FFFFFF;
    height: 100vh;
    margin: 0;
}

.big-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-continer {
    width: 100px;
}

.logo {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.container {
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: orange
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    background-color: #333333  ;
    border: none;
    border-radius: 5px;
    color: #FFF;
    outline: none;
}

#city-input {
    margin-right: 8px;
}

button {
    width: 30%;
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    background-color: #3700B3;
}

#weather-info {
    margin-top: 20px;
}

.hidden {
    display: none;
}

#error-message {
    color: #FF5252;
    margin-top: 20px;
}