/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.quiz-app-color {
  color: #6200ea;
}

h1,
h2 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 12px;
}

p {
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #333333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  list-style-type: none;
}

li:hover {
  background-color: #6200ea;
}

.selected {
  background-color: #6200ea;
}

button {
  padding: 10px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3700b3;
}

.hidden {
  display: none;
}

#navigator {
  display: flex;
  gap: 20px;
}

.special-font1 {
  font-family: Boldonse;
}

.special-font2 {
  font-family: Oswald;
  font-size: 20px;
}
